<p id="notice"><%= notice %></p>
  <div style="float: left;">
      <%= render 'list_type_obj' %>
    </div>
    <div>
      <%= render 'list_poligon' %>
    </div>
  </div>
  <div class="row">
    <div class="xlarge-12 columns">
      <%= render 'list_mapobj' %>
    </div>
  </div>
