// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #map-canvas {
     height: 100%;
     margin: 0px;
     padding: 0px
   }

 #panel {
     position: absolute;
     top: 0px;
     left: 0px;
//     margin-left: -280px;
     z-index: 5;
     background-color: #fff;
     padding: 5px;
     border: 1px solid #999;
    }
