<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>RND Gis</title>
    <style>
       html, body, #map-canvas {
       height: 100%;
       margin: 0px;
       padding: 0px
          }
      .transparency {
         opacity:0.8;
         filter:alpha(opacity=80);
         -moz-opacity:0.8;
         background-color:#000000;
         borderRadius: '3px';
         cursor: 'pointer';
         margin: '4px';
         textAlign: 'center';
         fontFamily: 'Roboto,Arial,sans-serif';
         fontSize: '10px';
         lineHeight: '20px';
         paddingLeft: '5px';
         paddingRight: '5px';
         paddingTop: '0';
         paddingBotton: '0';
       } 
       .bctl {
         opacity: 1;
         filter:alpha(opacity=100);
         background-color: white;
         borderRadius: '3px';
         cursor: 'pointer';
         margin: '4px';
         textAlign: 'center';
         fontFamily: 'Roboto,Arial,sans-serif';
         fontSize: '10px';
         lineHeight: '20px';
         paddingLeft: '5px';
         paddingRight: '5px';
         paddingTop: '0';
         paddingBotton: '0';
       }
    </style>

    <!--%=  stylesheet_link_tag    "application" %-->
    <!--%= javascript_include_tag "vendor/modernizr" %-->
    <!--%= csrf_meta_tags %-->
    <%= case request.fullpath
          when /areas\/edit_map/
            render 'java_areas_edit_map'
          when /areas\/\d+$/
            render 'java_area'
          when /^\/$/
            render 'java_maps'
        end
      %>
    <%
#        javascript_include_tag "application" 
              %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
